<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body id="<%= clientType %>" data-host-name="<%= hostName %>" data-host-ip="<%= hostIp %>" data-noise-box-id="<%= id %>" data-env="<%= env %>">
        <div id="wrapper">
            <div id="flashMessage" class="hidden">
                <p><%= flashMessage %></p>
            </div>
            <h1><a href="/"><%= heading %></a></h1>
            <%- body %>
        </div>
        <script data-main="/js/main" src="/js/lib/require.js"></script>

        <script>
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-29684348-7']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>