<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <meta name="description" content="Broadcasting noise across the internet since 1972" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/style.css" />
        <% if (locals.bg) { %>
            <style>
                body#home {
                    background-image:url(./img/bg-home/<%= bg %>);
                }
            </style>
        <% } %>
    </head>
    <body id="<%= clientType %>" data-host="<%= host %>" data-noise-box-id="<%= id %>" data-env="<%= env %>">
        <% if (flashMessage.length > 0) { %>
        <div class="flash-message" class="hidden">
            <p><%= flashMessage %></p>
        </div>
        <% } %>

        <div id="wrapper">
            <div id="middle">
                <%- body %>
            </div>
        </div>
        <script data-main="/js/main" src="/js/lib/require.js"></script>
        <script src="https://raw.github.com/GuntLondon/gunt-badge/master/gunt-badge.min.js"></script>

        <script>
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-29684348-7']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>