<div class="header">
    <% include partials/banner %>
    <% include partials/room %>
    <% include partials/username-form %>
    <% include partials/currently-playing %>
</div>

<div class="content clearfix">

    <section id="album-list">
        <h3>Albums</h3>
        <div class="scrollable">
            <ul class="nav">
            <% files.forEach(function(dir){ %>
            <% dirname = dir.name.replace(/-/g, " ") %>
                <li><a href="#tracks-<%= dir.name %>"><%= dirname %></a></li>
            <% }); %>
            </ul>
        </div>
    </section>

    <section id="track-list">
        <h3>Tracks</h3>
        <div class="search-container">
            <input id="track-search" type="search" placeholder="Search track names here">
        </div>
        <div class="scrollable-container">
            <div class="scrollable">
                <% files.forEach(function(dir){ %>
                    <div id="tracks-<%= dir.name %>" class="tracks">
                        <% dirname = dir.name.replace(/-/g, " ") %>
                        <h4><%= dirname %></h4>
                        <ul>
                        <% dir.files.forEach(function(file, index){ %>
                        <% filename = file.name.replace(/_/g, " ") %>
                            <li>
                                <a href="<%= file.path %>" id="tracks-<%= dir.name %>-<%= index %>">
                                    <span class="icon icon-plus"></span>
                                    <span class="trackname"><%= filename %></span>
                                    <span class="duration"><%= file.duration %>s</span>
                                </a>
                            </li>
                        <% }); %>
                        </ul>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>

    <section id="stats">

        <h3>Stats</h3>

        <div id="stats-tabs">

            <ul class="tabs">
                <li class="active"><a data-toggle="tab" href="#tab-log">Log</a></li>
                <li><a data-toggle="tab" href="#tab-play-queue">Play Queue</a></li>
                <li><a data-toggle="tab" href="#tab-users">Users</a></li>
            </ul>

            <div class="tab-container">
                <div class="tab active" id="tab-log">
                    <div class="scrollable">
                        <% include partials/log %>
                    </div>
                    <% include partials/chat-form %>
                </div>

                <div class="tab" id="tab-play-queue">
                    <div class="scrollable">
                        <% include partials/play-queue %>
                    </div>
                </div>

                <div class="tab" id="tab-users">
                    <div class="scrollable">
                        <% include partials/users %>
                    </div>
                </div>
            </div>
        </div>

        <div class="play-mode-container">
            <% include partials/play-mode-form %>
        </div>
    </section>

</div>
<% include partials/socket-io %>
<% include partials/footer %>