<div class="header">
    <% include partials/banner %>
    <% include partials/room %>
    <% include partials/username-form %>
</div>

<div class="content clearfix">

    <section id="album-list">
        <h3>Albums</h3>
        <div class="scrollable">
            <ul class="nav">
            <% files.forEach(function(dir){ %>
            <% dirname = dir.name.replace(/-/g, " ") %>
                <li><a href="#tracks-<%= dir.name %>"><%= dirname %></a></li>
            <% }); %>
            </ul>
        </div>
    </section>

    <section id="track-list">
        <h3>Tracks</h3>
        <div class="search-container">
            <input id="track-search" type="search" placeholder="Search track names here">
        </div>
        <div class="scrollable-container">
            <div class="scrollable">
                <% files.forEach(function(dir){ %>
                    <div id="tracks-<%= dir.name %>" class="tracks">
                        <% dirname = dir.name.replace(/-/g, " ") %>
                        <h4><%= dirname %></h4>
                        <ul>
                        <% dir.files.forEach(function(file, index){ %>
                        <% filename = file.name.replace(/_/g, " ") %>
                            <li>
                                <a href="<%= file.path %>" id="tracks-<%= dir.name %>-<%= index %>">
                                    <span class="icon icon-plus"></span>
                                    <span class="trackname"><%= filename %></span>
                                    <span class="duration"><%= file.duration %>s</span>
                                </a>
                            </li>
                        <% }); %>
                        </ul>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>

    <section id="stats">
        <div class="scrollable">
            <h4>Play Mode</h4>
            <% include partials/play-mode-form %>

            <h4>Currently playing</h4>
            <% include partials/currently-playing %>

            <h4>Play Queue</h4>
            <% include partials/play-queue %>

            <h4>Users</h4>
            <% include partials/users %>

            <h4>Log</h4>
            <% include partials/log %>
            <% include partials/chat-form %>
        </div>
    </section>

</div>
<% include partials/socket-io %>
<% include partials/footer %>