<h2>Viewing "<%= id %>"</h2>
<section id="album-list">
    <h3>Albums</h3>
    <ul>
    <% files.forEach(function(dir){ %>
        <li><a href="#tracks-<%= dir.name %>"><%= dir.name %></a></li>
    <% }); %>
    </ul>
</section>
<section id="track-list">
    <h3>Tracks</h3>
    <% files.forEach(function(dir){ %>
        <div class="tracks" id="tracks-<%= dir.name %>">
            <p><%= dir.name %></p>
            <ul>
            <% dir.files.forEach(function(file){ %>
                <li><a href="<%= file.path %>"><%= file.filename %></a></li>
            <% }); %>
            </ul>
        </div>
    <% }); %>
</section>
<section id="stats">
    <% include partials/play-mode-form %>
    <% include partials/username-form %>
    <% include partials/chat-form %>
    <% include partials/currently-playing %>
    <% include partials/play-queue %>
    <% include partials/users %>
    <% include partials/log %>
</section>
<% include partials/socket-io %>