<h2>Viewing "<%= id %>"</h2>
<section id="file-list">
    <% files.forEach(function(dir){ %>
        <p><%= dir.name %></p>
        <ul>
        <% dir.files.forEach(function(file){ %>
            <li><a href="<%= file.path %>"><%= file.filename %></a></li>
        <% }); %>
        </ul>
    <% }); %>
</section>
<form id="username-form">
  <fieldset>
    <legend>Update your username</legend>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="<%= username %>" />

    <label for="userid">userid</label>
    <input type="text" readonly id="userid" name="userid" value="<%= userid %>" />

    <label for="cid">cid</label>
    <input type="text" readonly id="cid" name="cid" value="<%= cid %>" />

    <label for="id">id (room)</label>
    <input type="text" readonly id="id" name="id" value="<%= id %>" />
    <input type="submit" />
  </fieldset>
</form>
<form id="chat-form">
  <fieldset>
    <legend>Chat</legend>
    <label for="chat-text">Chat</label>
    <input type="text" id="chat-text" name="chat-text" value="" />
    <input type="submit" />
  </fieldset>
</form>
<% include partials/currently-playing %>
<% include partials/play-queue %>
<% include partials/users %>
<% include partials/log %>
<% include partials/socket-io %>