<div class="header">
    <% include partials/banner %>
    <% include partials/room %>
</div>

<div class="content clearfix">

    <section id="album-list">
        <h3>Albums</h3>
        <div class="scrollable">
            <ul class="nav">
            <% files.forEach(function(dir){ %>
                <li><a href="#tracks-<%= dir.name %>"><%= dir.name %></a></li>
            <% }); %>
            </ul>
        </div>
    </section>

    <section id="track-list">
        <h3>Tracks</h3>
        <div class="search-container">
            <input id="track-search" type="search" placeholder="Search track names here">
        </div>
        <div class="scrollable-container">
            <div class="scrollable">
                <% files.forEach(function(dir){ %>
                    <div id="tracks-<%= dir.name %>" class="tracks">
                        <h4><%= dir.name %></h4>
                        <ul>
                        <% dir.files.forEach(function(file){ %>
                            <li><a href="<%= file.path %>"><%= file.name %> <span class="duration"><%= file.duration %>s</span></a></li>
                        <% }); %>
                        </ul>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>

    <section id="stats">
        <div class="scrollable">
            <% include partials/play-mode-form %>
            <% include partials/username-form %>
            <% include partials/chat-form %>
            <% include partials/currently-playing %>
            <% include partials/play-queue %>
            <% include partials/users %>
            <% include partials/log %>
        </div>
    </section>

</div>
<% include partials/socket-io %>
<% include partials/footer %>