<h2 id="room-name" data-room-name="<%= name %>">Now hosting NoiseBox "<%= name %>"</h2>
<p>Send your users to: <a href="<%= url %>/<%= name %>"><%= url %>/<%= name %></a></p>
<% include partials/noise-box-stats %>
<audio id="audio-player" src="" preload="auto"></audio>