<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body id="<%= clientType %>" data-host="<%= host %>" data-noise-box-name="<%= noiseBoxName %>" data-env="<%= env %>">
        <div id="wrapper">
            <div id="flashMessage" class="hidden">
                <p><%= flashMessage %></p>
            </div>
            <h1><a href="/"><%= title %></a></h1>
            <%- body %>
        </div>
        <script data-main="/js/main" src="/js/lib/require.js"></script>
    </body>
</html>