
    <h1><%= title %></h1>
    <h2>Welcome to the room <%= id %></h2>
    <section id="file-list">
      <% files.forEach(function(dir){ %>
        <h3><%= dir.name %></h3>
        <ul>
          <% dir.files.forEach(function(file){ %>
          <li><a href="<%= file.path %>"><%= file.filename %></a></li>
          <% }); %>
        </ul>
      <% }); %>
    </section>
