<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Welcome to the room <%= id %></h2>
    <section id="file-list">
      <% files.forEach(function(dir){ %>
        <h3><%= dir.name %></h3>
        <ul>
          <% dir.files.forEach(function(file){ %>
          <li><a href="<%= file.path %>"><%= file.filename %></a></li>
          <% }); %>
        </ul>
      <% }); %>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost:3000');
      socket.on('message', function (data) {
        var p = document.createElement('p');
        p.innerHTML = data.content;
        document.body.appendChild(p);

        console.log(data);
        // socket.emit('my other event', { my: 'data' });
      });
    </script>
  </body>
</html>